*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{

    font-family: 'Open Sans', sans-serif;
}

.container{

    padding: 50px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.tittle{

    color: rgb(111, 125, 255);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}

header{
    
    width: 100%;
    height: 500px;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(212, 40%, 24%, 0.61), #141E30), url(../img/portada.png);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(212, 40%, 24%, 0.61), #141E30), url(../img/portada.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.navigator{

    float: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

}

nav > a{

    color: azure;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;

}

nav > a:hover{

    text-decoration: overline;

}

/* Decoracion de Ola */
.wave-div{
    position: relative;
    top: -20%;
}
/* Decoracion de Ola */

.text-header{

    color: white;

}

.imagenes{

    position: relative;
    right: 75px;

}

header .text-header{

    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.container-proyect{

    display: flex;
    justify-content: space-evenly;

}

.container .repositorio-txt{

    width: 50%;

}

.container h3 span{

    background: violet;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(187, 255, 0, 0.5);
    margin-right: 5px;

}


/* Links */

.container-2{
    background-color: whitesmoke;
}

.container-2{
    text-align: center;
}

/*footer*/

footer{
    background: #141E30;
    padding: 60px 0 30px 0;
}

.container-footer{

    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;

}

.container-footer{
    text-align: center;
}

.container-footer h3{
    color: #ffffff;
    border-bottom: 4px solid #ff6c52;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.container-footer p{
    color: whitesmoke;
    border-bottom: 4px solid #ffa292;

}